/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* own style */
.play {
  transition: transform 0.5s ease, opacity 0.5s ease;
  background: transparent;
  border: 1px;
  color: #fff;  
}

.play.animate {
  transform: scale(2);
  opacity: 0;
}


.volume-control {
  position: absolute;
  top: 20px;
  left: 50px;
  opacity: 0;
}
.video-container:hover .volume-control {
  opacity: 1;
}

.volume-control input {
    margin-left: 10px;
}

.volume-control input[type="range"] {
  -webkit-appearance: none; /* Remove default styling in Chrome/Safari */
  width: 50%;
  height: 4px; /* Set the height of the slider track */
  background: rgba(255, 255, 255, 0.34); /* Set the track color to black */
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

/* Custom thumb (slider handle) */
.volume-control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px; /* Thumb width */
  height: 10px; /* Thumb height */
  border-radius: 50%; /* Make the thumb round */
  background: #fff; /* Set thumb color to black */
  cursor: pointer; /* Cursor changes to pointer when hovering */
}

.volume-control input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.video-container {
  /* border: 1px solid; */
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); 
  scroll-snap-align: start; /* scroll for 1 item*/
}

video {
  width: 95%;
  height: 100%;
  padding: 14px;
  object-fit: cover;
  border-radius: 45px;
}
.controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
  top:0;
  left:0;
  cursor:pointer;
}

.controls button {
  margin-right: 10px; /* Space between buttons */
}

.section-wrapper{
    right: -20px;
    bottom: 32px;
}

.wrapper-svg {
    background-color: #544e4e;
    border-radius: 10px;
}

.style-svg {
    margin: auto;
    display: flex;
}

.info-text{
    margin-left: 8px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.video-list {
  overflow-y: hidden;
  height: 100vh;
}

.video-list > * {
  scroll-snap-align: start;
}

.header {
  display: flex;
  justify-content: space-between; /* Space out items */
  align-items: center; /* Center vertically */
  padding: 10px 20px; /* Add padding */
  background-color: #f8f9fa; /* Light background color */
  /* position: sticky;
  top: 0;
  z-index: 1000; */
}

.logo img {
  height: 50px; /* Set logo height */
}

.search-box {
  width: 400px;
  max-width: 400px; /* Limit max width */
  padding: 10px; /* Padding inside the search box */
  border: 1px solid transparent; /* Border styling */
  background-color: transparent;
  border-right: 1px solid #ccc;
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;  
}

.search-input{
    display: flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    align-items: center;
    border-radius: 9999px; 
    --tw-bg-opacity: 1;
    background-color: rgb(241 241 242 / var(--tw-bg-opacity));
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* This ensures the icon doesn't interfere with typing */
}

.icon {
  width: 20px;
  height: 20px;
  color: #666;
}

.login-button {
  text-align: right; /* Align button to the right */
}

.login-button button {
  padding: 6px 8px; /* Padding for the button */
  background-color: rgb(255, 59, 92); /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  min-height: 36px;;
}

.login-button button:hover {
  background-color:  rgb(241, 45, 78); /* Darker shade on hover */
}

.nav-video-wrapper{
  padding-top: 78px;
}
.navbar-left{
  height: 100%;
  overflow-y: auto;
  top: 78px;
  width: 170px;
}

.video-wrapper {
    width: 100%;
    padding-inline-end: 170px;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    height: 100vh;
    padding-bottom: 78px;
}


.search-svg {
    padding: 8px;
}

.recommendation-list {
  margin-top: 5px;
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  width: 400px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  top: 51px;
}

.recommendation-item {
  padding: 10px;
  cursor: pointer;
}

.recommendation-item:hover {
  background-color: #f0f0f0;
}

.left-navbar-span{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-left: 8px;
}

.span-active {
    color: rgb(254, 44, 85);
}

.container{
  padding-top: 78px;
}
.container-navbar {
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 32px;
    transition: background 200ms ease-in-out;
}

.guess-search-title{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: rgba(22, 24, 35, 0.75);
    padding: 5px 12px 3px;
}

.skeleton-content {
  width: 400px;
}
.skeleton-placeholder-video {
    background: linear-gradient(90deg, #e8e8e8 0px, #f8f8f8 40px, #e8e8e8 80px);
    background-size: 350px;
    width: 350px;
    height: 550px;
    border-radius: 45px;
    margin-top: 1.5rem;
    animation: animation 2.5s infinite;
}

.skeleton-placeholder-svg {
    background: linear-gradient(90deg, #e8e8e8 0px, #f8f8f8 40px, #e8e8e8 80px);
    background-size: 350px;
    height: 40px;
    border-radius: 13px;
    margin-top: 0.5rem;
    animation: animation 2.5s infinite;
}

.skeleton-placeholder-span{
    background: linear-gradient(90deg, #e8e8e8 0px, #f8f8f8 40px, #e8e8e8 80px);
    background-size: 350px;
    height: 10px;
    width: 35px;
    border-radius: 13px;
    margin-top: 0.5rem;
    animation: animation 2.5s infinite;
    margin-left: 0px;    
}

@keyframes animation {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 270px;
  }
}



@media only screen and (max-width: 600px) {
  .section-wrapper{
    right: 30px;
    bottom: 32px;
  }
  
  .search-box {
    width: 250px;
  }
  .login-button{
    display: none;
  }
  .header{
    padding: 10px 10px;
  }
  .left-navbar-span{
    display: none;
  }
  .recommendation-list{
    width: 240px;
    margin-left: 10px;
  }
  .skeleton-content{
    width: 280px;
  }
  .skeleton-placeholder-video{
    width: 350px;
    height: 480px;
  }
  .video-wrapper{
    padding-inline-end: unset;
  }
  .nav-video-wrapper{
    padding-top: 60px;
    height: 100vh;
  }
  .navbar-left{
    border-right: 1px solid #f0f0f0;
    padding-right: 3px;
    width: unset;
  }
}